{% extends 'base.html' %} {% block title %} Upload videos {% endblock %} {%
block content %}
<div class="gate-external">
<div class="gate-container">
  <h1 class="gate-header">
    <span class="title-color">Set </span>Gate Direction
  </h1>
  <div class="button-container">
    <div>
      <div class="button-wrapper">
        <button id='btn-cw90' class="button cw-90">
          <div class="text">90°</div>
          <div class="arrow">&#8631;</div>
          CW
        </button>
      </div>
      <div class="button-wrapper">
        <button id='btn-ccw90' class="button ccw-90">
          <div class="text">90°</div>
          <div class="arrow">&#8630;</div>
          CCW
        </button>
      </div>
    </div>
    <div>
      <div class="button-wrapper">
        <button id='btn-cw180' class="button cw-180">
          <div class="text">180°</div>
          <div class="arrow">&#8635;</div>
          CW
        </button>
      </div>

      <div class="button-wrapper">
        <button id='btn-ccw180' class="button ccw-180">
          <div class="text">180°</div>
          <div class="arrow">&#8634;</div>
          CCW
        </button>
      </div>
    </div>
    <div class="image-container">
      <img src="../static/img/MG.png" alt="Description of the image">
    </div>
  </div>
  <!-- User Guide -->
  <div class="user-guide">
    <div>
      <p class='title'><strong>Guide:</strong></p>
    </div>
    <div>
      <p>• <strong>90° CW</strong> - Rotate 90 degrees clockwise.</p>
      <p>• <strong>90° CCW</strong> - Rotate 90 degrees counterclockwise.</p>
      <p>• <strong>180° CW</strong> - Rotate 180 degrees clockwise.</p>
      <p>• <strong>180° CCW</strong> - Rotate 180 degrees counterclockwise.</p>
    </div>
  </div>
</div>
</div>
<script>
  var btn_cw90 = document.getElementById("btn-cw90");
  var btn_ccw90 = document.getElementById("btn-ccw90");
  var btn_cw180 = document.getElementById("btn-cw180");
  var btn_ccw180 = document.getElementById("btn-ccw180");

  btn_cw90.addEventListener("click", function () {
    sendMessage("West");
  });

  btn_ccw90.addEventListener("click", function () {
    sendMessage("North");
  });

  btn_ccw180.addEventListener("click", function () {
    sendMessage("East");
  });

  btn_cw180.addEventListener("click", function () {
    sendMessage("South");
  });

  function sendMessage(direction) {
    var message = {
      ws_id: "Tensator_Websocket_server",
      cb_id: "CB_123456789",
      device_type: "MG-button",
      cmd_info: {
        target: "23",
        event: direction,
        flash_speed: 1,
        no_of_flashes: 5,
        on_color: [255, 0, 0],
        off_color: [0, 0, 0],
        free_color: [0, 255, 0],
        busy_color: [255, 165, 0],
      },
    };

    // Convert message to JSON string
    var jsonString = JSON.stringify(message);

    // Connect to WebSocket server
    var socket = new WebSocket(
      "ws://" + "{{ flask_ip_address }}" + ":" + "{{ websocket_port }}"
    );

    // Send JSON message to server when WebSocket connection is open
    socket.onopen = function (event) {
      socket.send(jsonString);
    };

    // Log any errors that occur
    socket.onerror = function (error) {
      console.error("WebSocket Error:", error);
    };

    // Close the WebSocket connection after sending the message
    socket.onmessage = function (event) {
      socket.close();
    };
  }
</script>

{% endblock %}