{% extends 'base.html' %} {% block title %} Upload videos {% endblock %} {%
block content %}

<div class="gate-container">
  <p class="gate-header">
    <span class="title-color">Adjust </span>Gate Direction
  </h1>
  <div class="row">
    <button class="btn" id="northBtn">N &#9650;</button>
  </div>
  <div class="row-middle">
    <button class="btn" id="westBtn">&#9664; W</button>
    <button class="btn" id="eastBtn">E &#9654;</button>
  </div>
  <div class="row">
    <button class="btn" id="southBtn">S &#9660;</button>
  </div>
  <div style="margin: 1.5rem 0rem">
    <button>&#9650;</button><span>North </span> <button>&#9664;</button
    ><span>West </span> <button>&#9654;</button><span>East </span>
    <button>&#9660;</button><span>South </span>
  </div>
</div>

<script>
  var northBtn = document.getElementById("northBtn");
  var southBtn = document.getElementById("southBtn");
  var westBtn = document.getElementById("westBtn");
  var eastBtn = document.getElementById("eastBtn");

  northBtn.addEventListener("click", function () {
    sendMessage("North");
  });

  southBtn.addEventListener("click", function () {
    sendMessage("South");
  });

  westBtn.addEventListener("click", function () {
    sendMessage("West");
  });

  eastBtn.addEventListener("click", function () {
    sendMessage("East");
  });

  function sendMessage(direction) {
    var message = {
      ws_id: "Tensator_Websocket_server",
      cb_id: "CB_123456789",
      device_type: "MG-button",
      cmd_info: {
        target: "23",
        event: direction,
        flash_speed: 1,
        no_of_flashes: 5,
        on_color: [255, 0, 0],
        off_color: [0, 0, 0],
        free_color: [0, 255, 0],
        busy_color: [255, 165, 0],
      },
    };

    // Convert message to JSON string
    var jsonString = JSON.stringify(message);

    // Connect to WebSocket server
    var socket = new WebSocket(
      "ws://" + "{{ flask_ip_address }}" + ":" + "{{ websocket_port }}"
    );

    // Send JSON message to server when WebSocket connection is open
    socket.onopen = function (event) {
      socket.send(jsonString);
    };

    // Log any errors that occur
    socket.onerror = function (error) {
      console.error("WebSocket Error:", error);
    };

    // Close the WebSocket connection after sending the message
    socket.onmessage = function (event) {
      socket.close();
    };
  }
</script>
{% endblock %}
